body{
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding:5px;
    text-align: center;
}

.textContainer{
    border: 2px solid blue;
    text-overflow: wrap;
    text-align: left;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    width: auto;
    padding: 20px;
    margin: 20px 0px 0px 10px;
    background: rgba(255, 255, 255, 0.8);
}

button{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    margin: 0; 
    padding:2px;
    border: none;
    width: 100px;
    height: 35px;
    
}

button:hover{
    background-color: rgba(205, 202, 214, 0.406);
}


#navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    width: 100%;
    
}

#titleContainer{
    color:white;
    background-image: url('header.png');
    background-size: cover;
    padding: 5px;
    height: 30vh;
}

.buttonRow{
    width: auto;
    padding: 15px;
    display: flex;
    background-color: white;
}